<html>

<head>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="area">
        <div class="container">
            <div class="panel_left"> </div>
            <div class="panel_center lista">
                <div class="btn_play ">> </div>
                <div class="display_crono">
                    <div class="display_time">00: </div>
                    <div class="display_time">00: </div>
                    <div class="display_time display_ss">00, </div>
                    <div class="display_time display_ms">00 </div>
                </div>
                <div class="display_detal_cronos">
                    <div class="display_initial">00:00:00 </div>
                    <div class="display_median">
                        <div class="progress_bar">00:00:00 </div>
                    </div>
                    <div class="display_end">00:00:00 </div>
                </div>
                <div class="display_btns">
                    <div class="btn btn_laterais">-5m </div>
                    <div class="btn">Pause </div>
                    <div class="btn ">pause counted </div>
                    <div class="btn">Stop </div>
                    <div class="btn btn_laterais">+5m </div>
                </div>
                <div class="voltas">
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta"> </div>
                    <div class="volta "> </div>
                    <div class="volta"> </div>
                </div>
            </div>
            <div class="panel_right">
                <div class="panel_config">
                    <div class="label">Pomodoro </div>
                    <div class="txt_label ">Malhação | </div>
                    <div class="controle">[ x ] Duração 25m </div>
                    <div class="controle">[ x ] Intervalo 5m </div>
                    <div class="controle">[ x ] Intervalo longo 15m </div>
                    <div class="controle ">[ x ] Uma volta
                    </div>
                    <div class="controle">[ x ] Alarme </div>
                    <div class="controle">[ x ] Data </div>
                    <div class="controle">[ x ] Repetir </div>
                    <div class="display_btns">
                        <div class="btn">Adicionar </div>
                        <div class="btn">Fechar </div>
                    </div>
                </div>
                <div class="panel_config lista">
                    <div class="label">Listas salvas </div>
                    <div class="item_da_lista">Malhação [seg - qua - sex] </div>
                    <div class="item_da_lista">Almoço da firma [03/jan/20 - 12:00] </div>
                    <div class="item_da_lista ">Malhação [seg - qua - sex] </div>
                </div>
            </div>
        </div>
        <div class="titlebar">
            <div class="icon_bar">
                <div class="icon_btn"> </div>
            </div>
            <div class="title_bar">Trevo Web Cronos </div>
            <div class="btn_bar">
                <div class="btn_control "> </div>
                <div class="btn_control close"> </div>
                <div class="btn_control max">x </div>
            </div>
        </div>
    </div>
</body>

</html>