.btn_config {
    position: absolute;
    right: 8px;
    top: 4px;
    background-color: transparent !important;
    border: none;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    
}

.label_btn_config{
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 19px;
    right: 45px;
    top: 10px;
    z-index: 9;
}