
.modal_volta{
    display: none;
font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  /*  width: 340px;*/
    z-index: 100;
    position: absolute;
    background-color: #eee;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 22px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: 9991;
}


.modal_volta:before {
    
    width: 16px;
    height: 16px;
    margin: auto;
    left:45%;
    bottom: -8px;
    
    content: '';
    transform: rotate(-135deg);
      box-shadow: rgba(0, 0, 0, 0.25) -1px -1px 0px;
    z-index: 0;
    
    background : -webkit-linear-gradient(left top,#eee 50%, rgba(255, 255, 255, 0) 50%);
    background : -o-linear-gradient(left top,#eee 50%, rgba(129, 39, 39, 0) 50%);
    background : -ms-linear-gradient(left top,#eee 50%, rgba(129, 39, 39, 0) 50%);

    background : -linear-gradient(left top,#eee 50%, rgba(129, 39, 39, 0) 50%);
    position: absolute;
    
}

.modal_volta h3{
    padding: 0;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    
}

.modal_volta p{
    padding: 0;
    margin: 0 5px;
    font-size: 10px;    
}


.modal_volta span{
    padding: 0;
    margin: 0 5px;
    font-size: 13px;
    color: green;
}

.modal_volta span:hover{
  text-decoration: underline;
}
.modal_volta .icon {
    position: relative;
    font-size: 16px;
    color:white;
    background-color: green;
    padding: 2px;
    border-radius: 8px;
    width: 16px;
    height: 16px;
}

/* MODAL Config */

.modal_config{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0%;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}

.panel_config {
    
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 40px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(8, 84, 113, 0.7);
    padding: 6px;

    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    -ms-transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    transform: translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);

    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
    border-radius: 0px;
    background-color: #eee;
    /*display: none;*/
}
