<html><head><link href='style.css' rel='stylesheet'></head><body><div class='area' > <div class='topo' > <div class='area_title' > <div class='label_title' >Trevo </div>
<div class='label_title_2' > Cronos </div></div>
<div class='toolbar' > <div class='btn_log' >Lougot (usu) </div>
<div class='btn_log' >Settings </div>
<div class='btn_log ' >Logar </div></div></div>
<div class='container' > <div class='modal_log' > <div class='label_login' >Login </div>
<div class='txt_login' >Usu </div>
<div class='txt_login' >Senha </div>
<div class='btn_logar' >Logar </div>
<div class='link_register' >Criar uma conta </div></div></div></div></body></html>